# C++ build
src/cpp/build/
build/
*.pyd
*.dll
*.lib
*.obj
*.o
*.a
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# 日志
*.log

# 临时文件
*.tmp
*.temp

# MinGW配置
.mingw_path

# Package Usage
scripts/package
/scripts/PACKAGING.md
/config.json
/src-tauri/frontend/node_modules/
/src-tauri/frontend/dist/
/src-tauri/target/